.pokemon-card { 
  min-width: 10rem; 

  .card {
    box-shadow: 10px 10px 21px 0px rgba(250,250,250,0.75);
    transition: transform .3s;
  }
}

.cart-items-counter { font-size: 1rem !important; }

.cart-item {
  justify-content: space-between;
}

.pokemon-card .card:hover {
  box-shadow: 10px 10px 21px 0px rgba(204,204,224,0.75);
  transform: translateY(-1rem) scale(1.05);
  z-index: 10;
}

.types {
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.type { color: #fff; }

.bg-normal { background-color: #aaaa9a }
.bg-fire { background-color: #db542e }
.bg-water { background-color: #6598fa }
.bg-electric { background-color: #e5cf7f }
.bg-grass { background-color: #96c960 }
.bg-ice { background-color: #91cafc }
.bg-fighting { background-color: #854a3a }
.bg-poison { background-color: #db542e }
.bg-ground { background-color: #d1ba5f }
.bg-flying { background-color: #909afa }
.bg-psychic { background-color: #db6297 }
.bg-bug { background-color: #aeba3b }
.bg-rock { background-color: #b5aa6c }
.bg-ghost { background-color: #6867b7 }
.bg-dragon { background-color: #7367e4 }
.bg-dark { background-color: #6e5646 }
.bg-steel { background-color: #aaaaba }
.bg-fairy { background-color: #da9eeb }
